@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

body{
    background-color: #271131
}     

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem{
    height: 90px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
    color:#A2ACBD;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    transition: 0.15s ease-in-out;
}

.cabecalho-menu-item:hover{
    transform: scale(1.05);
    color: rgba(143, 142, 148, 0.53)      
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;     
}

.conteudo-principal-escrito-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #65a0ec;
}

.conteudo-principal-escrito-subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400px;
    font-size: 24px;
    color: #c3b8c5;
}

.conteudo-principal-escrito-botao{
    background-color: #544a68;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0,0,0,0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400px;
    font-size: 24px;
    color:#f2e6f4;  
    transition: 0.15s ease-in-out; 
    cursor: pointer; 
}

.conteudo-principal-escrito-botao:hover{
    transform: scale(1.05);
    background-color: rgba(91, 73, 151, 0.53);    
}

.conteudo-principal-imagem{
    height: 430px;
    filter: drop-shadow(0 0 0.75rem rgb(74, 72, 77));
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo{
    border-top: 0.4px solid #534a4a;;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400px;
    font-size: 24px;
    color: #79a6e2;
    margin-bottom: 16px;       
}

.conteudo-secundario-paragrafo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400px;
    font-size: 24px;
    color: #c3b8c5;  
}

.rodape{
    padding: 48px;
    border-top: 0.4px 
}

.rodape-imagem{
    height: 48px;
    display: block;
    margin: 0px auto; 
}
